name: Build, Release, and Publish

on:
  push:
    tags:
      - "v*"

jobs:
  build_release_publish:
    name: Build, Release, and Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true

      - name: Set up Python using uv
        run: uv python install 3.13

      - name: Build package
        run: uv build

      - name: Create GitHub Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          draft: false
          prerelease: ${{ contains(github.ref, '-alpha') || contains(github.ref, '-beta') || contains(github.ref, '-rc') }}
          generate_release_notes: true
          files: |
            ./dist/*.whl
            ./dist/*.tar.gz

      - name: Publish package
        run: uv publish
